p.italic{
    font-style: italic;
}

.info{
     border:none;
  width:80%;
  height:100%;
  margin-left:10%;
  margin-right:10%;
    
}

.col-thirds{
    float:left;
    padding-left: 28%;
}
.col-two-thirds{
    float:right;
    padding-right: 28%;
}
.profile{
    background-color: #f7f4f7
}