<h1> &nbsp; Steve Lytinen </h1>
<div class = "profile">
<div class = "col-thirds">
<img src="/app/results/images/steve_lytinen.jpg"
     alt="Steve Lytinen">
     <ul>
     <li>Email: lytinen@cs.depaul.edu</li>
     <li>Office: CDM 645</li>
     <li>Phone: (312)362-6106</li>
     <li>Homepage: http://condor.depaul.edu/~slytinen</li>
     </ul>
 </div>

 <div class  = "col-two-thirds">
      <ul>
     <li>Email: lytinen@cs.depaul.edu</li>
     <li>Office: CDM 645</li>
     <li>Phone: (312)362-6106</li>
     <li>Homepage: http://condor.depaul.edu/~slytinen</li>
     </ul>
 </div> 
 </div>
 <script src="./scraper.js"></script>
 <!--<?php
$morph_api_url = "https://api.morph.io/Ravi-D/RMPScraper/data.json";
$morph_api_key = "o1Qmvw1ZIQjavwdhUre8";

$query = "select * from 'data' limit 10";

$response = file_get_contents($morph_api_url.'?key='.$morph_api_key.'&query='.urlencode($query));
$js = json_decode($response,true);

print_r($js);
?>-->
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>