p.italic{
    font-style: italic;
}

.info{
     border:none;
  width:80%;
  height:100%;
  margin-left:10%;
  margin-right:10%;
  font-size: 33;
    
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}