<div class = "info"><p class = "italic">
<br>
<br>    
    ProfessorIndexer is a tool for students and professors alike 
    that consolidates basic information about your (least) favorite professors!
<br>


<br>
Currently, the functionality (as you can see) is very basic. DePaul CDM's API as well as that of RateMyProfessors is either virtually inaccessible or depracated, making outside integration
of information difficult.
 <br>
 </p>
 </div>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>