<h2>Contact the Developer</h2>
<form (ngSubmit)="submitForm()" [formGroup]="contactForm" novalidate>
  <div class="form-content">
   
    <label>
      Ravi Dhebar
   <!--   <input type="email" formControlName="email" class="sd-form-control" placeholder="Enter your email.">-->
    </label>
    <br>
     <label>
      ravidhebar0@gmail.com
      <!--<input type="text" formControlName="name" class="sd-form-control" placeholder="Enter your message.">-->
    </label>
   <!-- <label>
      Content:
      <textarea formControlName="content" class="sd-form-control" placeholder="Content here."></textarea>
    </label>-->
    <!--<div class="form-submit">
      <button type="submit">Submit</button>
    </div>-->
<form action="./#/welcome_get.php" method="get">
Name: <input type="text" name="name"><br>
E-mail: <input type="text" name="email"><br>
<a href="./#/demo_jsonp.php"><button class="button">Search</button></a>
</form>
  </div>
  
</form>
<p id="demo"></p>

<script>
function myFunc(myObj) {
  document.getElementById("demo").innerHTML = myObj.name;
}
</script>

<script src="./#/demo_jsonp.php"></script>

<!--<div class="form-value">
  Form value:
  <pre>
    {{contactForm.value | json}}
  </pre>
  <p>
    Status: {{contactForm.status}}
  </p>
  <p>
    Valid: {{contactForm.valid}}
  </p>
  <p>Submit then open console to see full form.</p>
</div>-->
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>
 <br><br>
 <br><br>
 <br><br>

