.form-content {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}
.form-content .sd-form-control {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
}
.form-content textarea.sd-form-control {
  max-width: 100%;
}

.submit {
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
'Geneva', Verdana, sans-serif;
    background-color: #7a8cff; /* Green */
     border: 2px solid #7a8cff; 
    color: white;
    padding: 12px 20px 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
       -webkit-transition-duration: 0.45s; /* Safari */
    transition-duration: 0.45s;
}

.submit:hover {
    background-color: white;
    color: #7a8cff;
    padding: 12px 75px 12px 85px;
}

input[type=text], input[type=email] {
    text-align: center;
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  /*  background-image: url('searchicon.png');*/
    background-position: 10px 14px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text], input[type=email]:focus {
    width: 100%;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}