footer {
    background-color: #ff7a8c;
    position: relative;
    left: 0;
    bottom: 0;
    height: 90px;
    width: 100%;
    overflow:hidden;
}
.button {
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
'Geneva', Verdana, sans-serif;
    background-color: #7a8cff; /* Green */
     border: 2px solid #7a8cff; 
    color: white;
    padding: 12px 20px 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
       -webkit-transition-duration: 0.45s; /* Safari */
    transition-duration: 0.45s;
}

.button:hover {
    background-color: white;
    color: #7a8cff;
    padding: 12px 75px 12px 85px;
    

}

input[type=text] {
    width: 55%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 14px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
    
}

nav {
  overflow: hidden;
  background-color: #333;
}
.home{
        background-color: #8cff7a;
    color: white;
}
nav a {
  float: left;
  display: block;
  color: #dffff2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ffed7a;
  color: black;
}

nav a.active {
    background-color: #8cff7a;
    color: white;
}
