<nav>
	<a class="home" [routerLink]="['/']">
   | Home |
  </a>
  
	<a [routerLink]="['/about']">
   | About |
  </a>
  

	<a [routerLink]="['/contact']">
   | Contact Developer |
  </a>
  

	<a [routerLink]="['/results']">
   | Results |
  </a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>



<footer>
 Ravi Dhebar
  
 CSC360
</footer>
