<br>
<br>
<br>
<br>
<br>
<!--<a href="../#/results"><button>Go To Login</button></a>-->


<form autocomplete="off" target="_blank" action= "../#/results" method="POST" 
 id="search" name="search" class="validate">
 <input type="text" name="search" placeholder="Search for your (least) favorite professor!">

 <br>
 
 </form>

 <a href="../#/results"><button class="button">Search</button></a>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br>



 <br><br><br><br><br><br><br><br><br><br><br><br><br><br>