.button {
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
'Geneva', Verdana, sans-serif;
    background-color: #7a8cff; /* Green */
     border: 2px solid #7a8cff; 
    color: white;
    padding: 12px 40px 12px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
       -webkit-transition-duration: 0.45s; /* Safari */
    transition-duration: 0.45s;
}

.button:hover {
    background-color: white;
    color: #7a8cff;
    padding: 12px 80px 12px ;
    

}

input[type=text] {
    position: absolute;
    top: 20%;
    left: 39.50%;
    display: inline-block;
    text-align: center;
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
  /*  background-image: url('searchicon.png');*/
    background-position: 10px 14px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    left: 0%;
    width: 100%;
    
}
footer {
  background-color: #ff7a8c;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}